:root{
    --background: #000000;
    --white:#ffffff;
    --text-gradient-bg: rgb(58, 151, 78);
    --text-gradient-1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,40,125,1) 35%, rgba(0,212,255,1) 100%);
 }